<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>我的订单列表win</title>
	<link rel="stylesheet" type="text/css" href="../../css/api.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/aui/aui.css" />
	<link rel="stylesheet" type="text/css" href="../../css/main.css" />
	<style>
    	.aui-grid [class*=aui-col-] {padding: 0.2rem 0;}
    	.aui-grid [class*=aui-col-xs-]:active {background-color: #ffffff;}
    	.order-tab-item{background-color: #DDDDDD;width: 80%;padding: 8px 10px;border-radius: 20px;font-size: 0.6em}
    	.order-tab-item.active{background-color: #11ce7c;color:#FFFFFF;}
    	.aui-grid .aui-badge{ top: 0;right: 0;left:auto}
	
	</style>
</head>
<body>
	 <header id="header" class="aui-bar aui-bar-nav this-bg-theme">
        <a class="aui-pull-left" tapmode="hover" onclick="backbar()">
            <span class="aui-iconfont aui-icon-left"></span>
        </a>
        <div class="aui-title" id="win_title">我的订单列表</div>
    </header>
    <div id="state_tab">
    	<template>
		<div class="aui-grid" >
	        <div class="aui-row">
	            <div class="aui-col-xs-3" v-for="tabItem in tabDataList">
	               	<span class="order-tab-item" :class="curTabId==tabItem.id ? 'active':''" tapmode="hover" @click="tabItemClick(tabItem)">{{tabItem.name}}</span>
	            	<span class="aui-badge"  v-if="tipData[tabItem.tipId]>0 && tipData[tabItem.tipId]<100">{{tipData[tabItem.tipId]}}</span>
		            <span class="aui-badge" v-else-if="tipData[tabItem.id]>99">99..</span>
	            </div>
	        </div>
	    </div>
	    </template>
    </div>
</body>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/jquery/jquery213min.js"></script>
<script type="text/javascript" src="../../script/jquery/jquerymobilecustommin.js"></script>
<script type="text/javascript" src="../../script/vue/vue.js"></script>
<script type="text/javascript" src="../../script/packajax.js"></script>
<script type="text/javascript">
	var backbar;
	var stateTabVm;
	var userId='';
	var getWorkCountHttps;
	apiready = function(){
		var header = $api.byId('header');
		$api.fixStatusBar(header); 
		backbar = function(){
			//关闭当前window，使用默认动画
			api.closeWin();
		}
        userId=$api.getStorage("userid");
		var pageParam = api.pageParam;//页面提交过来的参数
		var title=pageParam.title;
		var state=pageParam.state;//0 需求订单 1报价 2待开工 3施工中 4竣工待确认 5竣工已确认 6竣工
//		if(title.length>0){
//			$('#win_title').text(title+'列表')
//		}
		
		var headerBar = $api.dom('header').offsetHeight;
        
        getWorkCountHttps=function(){
			var param='userId='+userId;
			_getHttpsData('/worker/getWorkCount',param,
				function(res){
					if(res.status){
						stateTabVm.refreshTipData(res.data);
					} else{
						api.toast({ msg: res.msg+'('+res.code+')',duration: 2000, location: 'bottom'});
					}
				},
				function(err){
				
				}
			);
		};
        
        stateTabVm=new Vue({
        	el:'#state_tab',
        	data:{
        		tabDataList:[//100全部订单，0 需求订单 1报价 2待开工 3施工中 4竣工待确认 5竣工已确认 6竣工
	        		{id:100,name:'全部订单',tipId:'allOrder'},
	        		{id:0,name:'邀约订单',tipId:'personalData'},
	        		{id:1,name:'报价订单',tipId:'workerOffer'},
	        		{id:2,name:'待开工订单',tipId:'waitStart'},
	        		{id:3,name:'施工中订单',tipId:'construction'},
	        		{id:4,name:'竣工待确认',tipId:'compNotConf'},
	        		{id:5,name:'竣工已确认',tipId:'compConf'},
	        		{id:6,name:'订单完成',tipId:'complete'}
        		],
        		tipData:{personalData:0,workerOffer:0,waitStart:0,construction:0,compNotConf:0,compConf:0,complete:0},
        		curTabId:100
        	},
        	methods:{
        		initData:function(state){
        			this.curTabId=state;
        			this.nextTick();
        		},
        		tabItemClick:function(data){
        			this.curTabId=data.id;
        			api.execScript({
						name : 'inviteorder_win',
						frameName : 'inviteorder_frm',
						script : 'refreshStateData('+data.id+')'
					});
        		},
				refreshTipData:function(data){
					//刷新工单数量
					//invite:邀约订单 bidding:报价 my_order:待开工 at_work:施工中 uncompleted:竣工待确认 confirm_completed:竣工已确认  竣工:completed
					var tipObj={};
					tipObj.personalData=data.invite==undefined ? 0:data.invite;//邀约订单
					tipObj.workerOffer=data.bidding==undefined ? 0:data.bidding;//败家
					tipObj.waitStart=data.my_order==undefined ? 0:data.my_order;//待开工
					tipObj.construction=data.at_work==undefined ? 0:data.at_work;//施工中 
					tipObj.compNotConf=data.uncompleted==undefined ? 0:data.uncompleted;//竣工待确认
					tipObj.compConf=data.confirm_completed==undefined ? 0:data.confirm_completed;//竣工已确认
					tipObj.complete=data.completed==undefined ? 0:data.completed;//竣工
					this.tipData=tipObj;
				},
        		nextTick:function(){
					this.$nextTick(function(){
						api.parseTapmode();
						var tabHeight = $api.dom('#state_tab').offsetHeight;
						api.openFrame({
				            name: 'inviteorder_frm',
				            url: 'inviteorder_frm.html',
				            bounces: true,
						    scrollToTop:true,
				            rect: { // 推荐使用Margin布局，用于适配屏幕的动态变化
				                marginTop: headerBar + tabHeight, // main页面距离win顶部的高度
				                marginBottom: 0, // main页面距离win底部的高度
				                w: 'auto' // main页面的宽度 自适应屏幕宽度
				            },
				            pageParam:pageParam
				        });
					})
				},
        	}
        });
        stateTabVm.initData(state);
        getWorkCountHttps();
        
        //监听订单详情操作提交
		api.addEventListener({
		    name: 'detailOrder_send_event'
		}, function(ret, err) {
			if(ret){
				if(ret.value.detailOrderSuccess){
					//订单详情中操作提交成功
					getWorkCountHttps();
				}
			}
		});
        
	};
</script>
</html>