<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>我的frm</title>
    <link rel="stylesheet" type="text/css" href="../../css/api.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/aui/aui.css" />
	<link rel="stylesheet" type="text/css" href="../../css/main.css" />
	<link rel="stylesheet" type="text/css" href="../../css/me/me.css" />
	<style>
		.not-open-tip{background-color: #999999;color:#FFFFFF;position: absolute;top:3px;padding: 2px 5px;border-radius: 10px;font-size: 8px}
	</style>
</head>
<body>
	<div id="info_area">
		<template>
		<div class="me-head-area this-bg-theme horizontal">
			<div class="user-ava">
				<img :src="avaUrl" onerror="src='../../image/icon/me/head.png'" />
			</div>
			<div v-if="isLogin" class="user-name">
				<div>{{nickname}}</div>
				<div class="horizontal">
					<div class="realname-auth">
						<span v-if="isRealNameAuth" class="real-name">已实名认证</span>
						<span v-else class="real-name" tapmode="hover" @click="loginRealName()">点击此处实名认证</span>
					</div>
					<div class="pay-security" v-if="isRealNameAuth">
						<span v-if="isPaySecurity" class="pay-security-sel"  @click="paySecurityClicl()">已缴纳保证金</span>
						<span v-else class="pay-security-nor" tapmode="hover" @click="paySecurityClicl()">未缴纳保证金</span>
					</div>
				</div>
				
			</div>
			<div v-else class="hint-login">
				<div tapmode="hover" @click="loginClick()">点击此处去登录</div>
			</div>
			<div class="line-switch horizontal" tapmode="hover" @click="lineStateClick()">
				<!--<span v-if="isOnLine">上线</span><span v-else>离线</span><img v-if="isOnLine" src="../../image/icon/online.png" /><img v-else src="../../image/icon/offline.png"  />-->
				<span>下线</span><img v-if="isOnLine" src="../../image/icon/online.png" /><img v-else src="../../image/icon/offline.png"  /><span>上线</span>
			</div>
		</div>
		</template>
		<div class="info-area">
			<!--我的订单-->
			<template>
			<div class="order-state">
				<div class="info-title horizontal">
					<div class="item-title">我的订单</div>
					<div class="all-order" tapmode="hover" @click="allOrderItemClick">全部订单<i class="aui-iconfont aui-icon-right"></i></div>
				</div>
				<div class="aui-grid">
			        <div class="aui-row">
			            <div class="aui-col-5 click-item-ser" v-for="orderItem in orderStateList" tapmode="hover" @click="orderItemClick(orderItem)">
			                <div class="me-icon-item">
		                		<img :src="orderItem.icon" />
		                		<span v-if="tipData[orderItem.id]>0 && tipData[orderItem.id]<100" class="base-tip">{{tipData[orderItem.id]}}</span>
		                		<span v-else-if="tipData[orderItem.id]>99" class="base-tip">99..</span>
				            </div>
			                <div class="aui-grid-label state-text">{{orderItem.title}}</div>
			            </div>
			        </div>
			    </div>
			</div>
		    </template>
			<!--基本信息-->	    
		    <template>
				<div class="base-info">
					<div class="info-title">个人资料</div>
					<div class="aui-grid">
				        <div class="aui-row">
				            <div class="aui-col-xs-3 click-item-ser" v-for="baseInfoItem in baseInfoList" tapmode="hover" @click="itemClick(baseInfoItem)">
				                <span v-if="!baseInfoItem.isOpen" class="not-open-tip">未开通</span>
				                <div class="me-icon-item">
			                		<img :src="baseInfoItem.icon" />
					            </div>
				                <div class="aui-grid-label">{{baseInfoItem.title}}</div>
				            </div>
				        </div>
				    </div>
				</div>
			    </template>
		    <!--增值服务-->
		    <template>
		    <div class="val-add-info">
		    	<div class="info-title">增值服务</div>
		    	<div class="aui-grid">
			        <div class="aui-row">
			            <div class="aui-col-xs-3 click-item-ser" v-for="valAddSerItem in valAddSerList" tapmode="hover" @click="itemClick(valAddSerItem)">
			                <span v-if="!valAddSerItem.isOpen" class="not-open-tip">未开通</span>
			                <div class="me-icon-item">
		                		<img :src="valAddSerItem.icon" />
				            </div>
			                <div class="aui-grid-label">{{valAddSerItem.title}}</div>
			            </div>
			        </div>
			    </div>
		    </div>
		    </template>
		</div>
	</div>
</body>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/jquery/jquery213min.js"></script>
<script type="text/javascript" src="../../script/jquery/jquerymobilecustommin.js"></script>
<script type="text/javascript" src="../../script/vue/vue.js"></script>
<script type="text/javascript" src="../../script/aui/aui_dialog.js"></script>
<script type="text/javascript" src="../../script/custom/bmap.js"></script>
<script type="text/javascript" src="../../script/custom/tools.js"></script>
<script type="text/javascript" src="../../script/packajax.js"></script>
<script type="text/javascript">
	var infoVm;
	var userId='';
	var isCertification=0;////是否实名验证（ 1为已实名认证    0 为未实名认证）
	var getWorkCountHttps;
	var offlineLocaton;
	apiready = function(){
		var refreshMainWinData=function(){
			api.execScript({
				name : 'main_win',
				script : 'getWorkCountHttps()'
			});
		};
		
		getWorkCountHttps=function(){
			if(!checkCurLoginClientLevel(false)){
				api.refreshHeaderLoadDone();
				api.hideProgress();
				return;
			};
			infoVm.refreshOnLine();
			var param='userId='+userId;
			_getHttpsData('/worker/getWorkCount',param,
				function(res){
					api.hideProgress();
					api.refreshHeaderLoadDone();
					if(res.status){
						infoVm.refreshTipData(res.data);
					} else{
						api.toast({ msg: res.msg+'('+res.code+')',duration: 2000, location: 'bottom'});
					}
				},
				function(err){
					api.hideProgress();
					api.refreshHeaderLoadDone();
				}
			);
		};
		
		offlineLocaton=function(){
			var param={};
			param.userId=userId;
			param.toUserId='ALL';
			param.messageType=6;
			api.showProgress({title: '正在下线'});
			_postHttpsData2('/workerOffline',param,
				function(res){
					api.hideProgress();
					if(res.status){
						infoVm.isOnLine=false;
						setOnlineModel(0);
					} else{
						api.toast({ msg: res.msg+'('+res.code+')',duration: 2000, location: 'bottom'});
					}
				},
				function(err){
					api.hideProgress();
				}
			);
			
		};
	
	
		infoVm = new Vue({
			el:'#info_area',
			data:{
				isOnLine:false,//是否上线
				isLogin:false,//是否已经登录了
				nickname:'',//昵称
				avaUrl:'',//用户头像
				isRealNameAuth:false,//是否已经实名验证
				isPaySecurity:false,//是否已经缴纳保证金
				orderStateList:[
					{id:'personalData',state:0,title:'邀约订单',icon:'../../image/icon/me/wo_invitation.png'},
					{id:'workerOffer',state:1,title:'报价订单',icon:'../../image/icon/me/wo_rorders.png'},
					{id:'waitStart',state:2,title:'待开工订单',icon:'../../image/icon/me/wo_waitstart.png'},
					{id:'construction',state:3,title:'施工中订单',icon:'../../image/icon/me/wo_shgzh.png'},
					{id:'compNotConf',state:4,title:'竣工待确认',icon:'../../image/icon/me/wo_unconfirmed.png'},
					{id:'compConf',state:5,title:'竣工已确认',icon:'../../image/icon/me/wo_confirm.png'},
					{id:'complete',state:6,title:'订单完成',icon:'../../image/icon/me/wo_jungong.png'}
				],
				baseInfoList:[
					{id:'personalData',title:'个人信息',icon:'../../image/icon/me/personal_data.png',pathNum:0,winName:'personalinfo_win',frmName:'',url:'widget://html/personalinfo/personalinfo_win.html',isClick:true,isOpen:true,isCheckLogin:true},
					{id:'workHome',title:'个人主页',icon:'../../image/icon/me/work_home.png',pathNum:0,winName:'workhome_win',frmName:'',url:'widget://html/personalinfo/workhome_win.html',isClick:true,isOpen:true,isCheckLogin:true},
//					{id:'receiveOrderRecord',title:'接单记录',icon:'../../image/icon/me/rec_order_record.png',pathNum:0,winName:'',frmName:'',url:'',isClick:false,isOpen:true,isCheckLogin:true},
//					{id:'learningRecords',title:'学习记录',icon:'../../image/icon/me/disable/learning_records_disable.png',pathNum:0,winName:'',frmName:'',url:'',isClick:false,isOpen:false,isCheckLogin:true}
//					{id:'inviteorder',title:'邀约接单',icon:'../../image/icon/me/invite_order.png',pathNum:0,winName:'inviteorder_win',frmName:'',url:'widget://html/myorder/inviteorder_win.html',isClick:true,isOpen:true,isCheckLogin:true},
//					{id:'myorder',title:'我的接单',icon:'../../image/icon/me/myorder.png',pathNum:0,winName:'inviteorder_win',frmName:'',url:'widget://html/myorder/inviteorder_win.html',isClick:true,isOpen:true,isCheckLogin:true},
				],
				valAddSerList:[
//					{id:'community',title:'工匠社区',icon:'../../image/icon/me/community.png',pathNum:0,winName:'workercommunity_win',frmName:'',url:'widget://html/workercommunity/workercommunity_win.html',isClick:true,isOpen:true,isCheckLogin:true},
//					{id:'newguidelines',title:'新手指引',icon:'../../image/icon/me/new_guidelines.png',pathNum:0,winName:'newguidelines_win',frmName:'',url:'widget://html/workercommunity/newguidelines_win.html',isClick:true,isOpen:true,isCheckLogin:true},
//					{id:'workerAction',title:'技艺学习',icon:'../../image/icon/me/worker_action.png',pathNum:0,winName:'study_win',frmName:'',url:'widget://html/study/study_win.html',isClick:true,isOpen:true,isCheckLogin:true},
//					{id:'workerStudy',title:'工匠行动',icon:'../../image/icon/me/worker_study.png',pathNum:0,winName:'workeraction_win',frmName:'',url:'widget://html/workeraction/workeraction_win.html',isClick:true,isOpen:true,isCheckLogin:true},
					{id:'myteam',title:'我的团队',icon:'../../image/icon/me/my_team_icon.png',pathNum:0,winName:'myteam_win',frmName:'',url:'widget://html/myteam/myteam_win.html',isClick:true,isOpen:true,isCheckLogin:true},
					{id:'mycommission',title:'我的佣金',icon:'../../image/icon/me/my_commission_icon.png',pathNum:0,winName:'mycommission_win',frmName:'',url:'widget://html/mycommission/mycommission_win.html',isClick:true,isOpen:true},
					{id:'mydetail',title:'我的明细',icon:'../../image/icon/me/amount_detail.png',pathNum:0,winName:'mydetail_win',frmName:'',url:'widget://html/mydetail/mydetail_win.html',isClick:true,isOpen:true,isCheckLogin:true},
//					{id:'address',title:'收货地址',icon:'../../image/icon/me/address_icon.png',pathNum:0,winName:'myaddress_win',frmName:'',url:'widget://html/myaddress/myaddress_win.html',isClick:true,isOpen:true,isCheckLogin:true},
					{id:'wallet',title:'我的钱包',icon:'../../image/icon/me/wallet_icon.png',pathNum:0,winName:'mywallet_win',frmName:'',url:'widget://html/mywallet/mywallet_win.html',isClick:true,isOpen:true,isCheckLogin:true},
					{id:'mypromote',title:'我要推广',icon:'../../image/icon/me/my_promote.png',pathNum:0,winName:'mypromote_win',frmName:'',url:'widget://html/mypromote/mypromote_win.html',isClick:true,isOpen:true,isCheckLogin:true},
					{id:'circlefriends',title:'朋友圈',icon:'../../image/icon/me/circle_friends.png',pathNum:0,winName:'circlefriends_win',frmName:'',url:'widget://html/circlefriends/circlefriends_win.html',isClick:true,isOpen:true,isCheckLogin:true},
					{id:'servicecenter',title:'客服中心',icon:'../../image/icon/me/bbs_icon1.png',pathNum:0,winName:'',frmName:'',url:'',isClick:true,isOpen:true,isCheckLogin:true},
					{id:'comproblem',title:'常见问题',icon:'../../image/icon/me/help_icon.png',pathNum:0,winName:'comproblem_win',frmName:'',url:'widget://html/comproblem/comproblem_win.html',isClick:true,isOpen:true,isCheckLogin:true},
					{id:'comsugges',title:'投诉建议',icon:'../../image/icon/me/toushu_icon.png',pathNum:0,winName:'comsugges_win',frmName:'',url:'widget://html/comsugges/comsugges_win.html',isClick:true,isOpen:true,isCheckLogin:true}
					// {id:'collection',title:'我的收藏',icon:'../../image/icon/me/disable/collection_disable.png',pathNum:0,winName:'',frmName:'',url:'',isClick:false,isOpen:false,isCheckLogin:true},
					// {id:'diary',title:'我的日志',icon:'../../image/icon/me/disable/diary_disable.png',pathNum:0,winName:'',frmName:'',url:'',isClick:false,isOpen:false,isCheckLogin:true},
					// {id:'huangLi',title:'黄历',icon:'../../image/icon/me/disable/huangLi_disable.png',pathNum:0,winName:'',frmName:'',url:'',isClick:false,isOpen:false,isCheckLogin:false},
					// {id:'bookkeeping',title:'装修记账',icon:'../../image/icon/me/disable/bookkeeping_disable.png',pathNum:0,winName:'',frmName:'',url:'',isClick:false,isOpen:false,isCheckLogin:false},
					// {id:'gift',title:'礼品',icon:'../../image/icon/me/disable/gift_disable.png',pathNum:0,winName:'',frmName:'',url:'',isClick:false,isOpen:false,isCheckLogin:true},
					// {id:'coupon',title:'优惠券',icon:'../../image/icon/me/disable/coupon_disable.png',pathNum:0,winName:'',frmName:'',url:'',isClick:false,isOpen:false,isCheckLogin:true},
					// {id:'calculator',title:'计算器',icon:'../../image/icon/me/disable/calculator_disable.png',pathNum:0,winName:'',frmName:'',url:'',isClick:false,isOpen:false,isCheckLogin:false}
				],
				tipData:{personalData:0,workerOffer:0,waitStart:0,construction:0,compNotConf:0,compConf:0,complete:0}
			},
			methods:{
				refreshUserInfo:function(){
					this.isOnLine=false;//是否上线
					this.isLogin=false;//是否已经登录了
					this.nickname='';//昵称
					this.avaUrl='';//用户头像
					isRealNameAuth=false,//是否已经实名验证
					this.clearTipData();
					this.isLogin=checkLoginState(true);
					refreshMainWinData();
					if(this.isLogin){
						userId=$api.getStorage("userid");
						isCertification=$api.getStorage("isCertification");
						
						var nickname = $api.getStorage("nickname");
						if(nickname==undefined || nickname==null || nickname==''){
							this.nickname='游客';
						}else{
							this.nickname=nickname;
						}
						this.avaUrl=$api.getStorage("avatar")==undefined ? '':$api.getStorage("avatar");
						this.isRealNameAuth=isCertification==1 ? true:false;
						this.isPaySecurity=checkSecurity();
						getWorkCountHttps();
					}
				},
				clearTipData:function(){
					this.tipData={personalData:0,workerOffer:0,waitStart:0,construction:0,compNotConf:0,compConf:0,complete:0}
				},
				refreshOnLine:function(){
					//是否上线
					var onlineModel = getOnlineModel();
					this.isOnLine=onlineModel==1 ? true:false;
				},
				refreshTipData:function(data){
					//刷新工单数量
					//invite:邀约订单 bidding:报价 my_order:待开工 at_work:施工中 uncompleted:竣工待确认 confirm_completed:竣工已确认  竣工:completed
					var tipObj={};
					tipObj.personalData=data.invite==undefined ? 0:data.invite;//邀约订单
					tipObj.workerOffer=data.bidding==undefined ? 0:data.bidding;//报价
					tipObj.waitStart=data.my_order==undefined ? 0:data.my_order;//待开工
					tipObj.construction=data.at_work==undefined ? 0:data.at_work;//施工中 
					tipObj.compNotConf=data.uncompleted==undefined ? 0:data.uncompleted;//竣工待确认
					tipObj.compConf=data.confirm_completed==undefined ? 0:data.confirm_completed;//竣工已确认
					tipObj.complete=data.completed==undefined ? 0:data.completed;//竣工
					this.tipData=tipObj;
				},
				nextTick:function(){
					this.$nextTick(function(){
						api.parseTapmode();
						api.hideProgress();
					})
				},
				loginClick:function(){
					//登录
					if(this.isLogin) return;
					api.openWin({
				        name: 'login_win',
				        url: 'widget://html/login/login_win.html',
				        delay:300,
						allowEdit:true
			        });
				},
				loginRealName:function(){
					if(this.isRealNameAuth) return;
					//实名认证
					api.openWin({
				        name: 'auth_step_win',
				        url: 'widget://html/login/auth_step_win.html',
				        delay:300
			        });
				},
				paySecurityClicl:function(){
					//去缴纳保证金
					if(!checkCurLoginClientLevel(true)) return;
					if(!this.isRealNameAuth){
						api.toast({ msg: '请先实名验证',duration: 2000, location: 'middle'});
						return;
					};
//					if(this.isPaySecurity) return;
					//缴纳保证金
					api.openWin({
				        name: 'securityagre_win',
				        url: 'widget://html/agreement/securityagre_win.html',
				        delay:300
			        });
				},
				lineStateClick:function(){
					//上线下线
					if(!this.isOnLine){
						if(!checkCurLoginClientLevel(true)){return;};
						showDoubleAuiDialog('上线提示','您上线之后，业主可以在地图上看到你所在位置,方便邀约到您来工作,是否开启?','开启','暂不开启',
							function(ret){
								if(ret.buttonIndex==2){
									//开启
									if(checkLocPer()){
										infoVm.isOnLine=true;
										setOnlineModel(1);
									};
								}
							}
						);
					}else{
						showDoubleAuiDialog('下线提示','您下线之后，业主不可以在地图上看到您所在位置,是否下线?','下线','暂不下线',
							function(ret){
								if(ret.buttonIndex==2){
									//关闭
									offlineLocaton();
								}
							}
						);
					}
				},
				allOrderItemClick:function(){
					//全部订单
					if(!checkCurLoginClientLevel(true)) return;
					api.openWin({
						name : 'inviteorder_win',
						url : 'widget://html/myorder/inviteorder_win.html',
						slidBackEnabled:true,
						pageParam:{
							state:100,
							title:'全部订单'
						},
						delay:300
					});	
				},
				orderItemClick:function(data){
					//订单状态点击事件
					if(!checkCurLoginClientLevel(true)) return;
					api.openWin({
						name : 'inviteorder_win',
						url : 'widget://html/myorder/inviteorder_win.html',
						slidBackEnabled:true,
						pageParam:{
							state:data.state,
							title:data.title
						},
						delay:300
					});	
				},
				itemClick:function(data){
					if(data.isClick){
						if(data.isCheckLogin){  
							if(!checkLoginState(true)) return;
						}
						
						if(data.id=='servicecenter'){
							if(qqService==undefined || qqService==null || qqService==''){
								api.toast({msg : '获取QQ客服账号失败'});
								return;
							}
							var systemType = api.systemType;  // 比如： ios
							if(systemType=='ios'){
				 				api.openApp({
				                    iosUrl:"mqq://im/chat?chat_type=wpa&uin="+qqService+"&version=1&src_type=web",
				                    uri:"mqqwpa://im/chat?chat_type=wpa&uin="+qqService
				                },function(ret, err){
				                    if(ret){
				                    	
				                    }else{
				                      api.toast({msg : '您还没安装QQ客户端'});
				                    }
				                });
					        }else{
					        	api.openApp({
				                    uri:"mqqwpa://im/chat?chat_type=wpa&uin="+qqService
				                },function(ret, err){
				                    if(ret){
				                    }else{
				                      api.toast({msg : '您还没安装QQ客户端'});
				                    }
				                });
					        }
						}else{
							api.openWin({
								name : data.winName,
								url : data.url,
								slidBackEnabled:true,
								pageParam:{
									action:data.id,
									title:data.title
								},
								delay:300
							});	
						}
					} else{
						api.toast({ msg: data.title+'模块开发中,敬请期待...',duration: 1000, location: 'bottom'});
					}
				}
			}
		});
		infoVm.refreshUserInfo();
		
		
		//下拉刷新
		api.setRefreshHeaderInfo({
		    loadingImg: '',
		    bgColor: '#2fc588',
		    textColor: '#fff',
		    textDown: '下拉刷新...',
		    textUp: '松开刷新...'
		}, function(ret, err) {
		    //在这里从服务器加载数据，加载完成后调用api.refreshHeaderLoadDone()方法恢复组件到默认状态
			//订单详情中操作提交成功
			getWorkCountHttps();
		});
		
		
		//监听订单详情操作提交
		api.addEventListener({
		    name: 'detailOrder_send_event'
		}, function(ret, err) {
			if(ret){
				if(ret.value.detailOrderSuccess){
					//订单详情中操作提交成功
					getWorkCountHttps();
				}
			}
		});
		
		
		//监听登录成功
		api.addEventListener({
		    name: 'loginsend_event'
		}, function(ret, err) {
			if(ret){
				if(ret.value.loginSuccess){
					//登录成功
					infoVm.refreshUserInfo();
				}
			}
		});
		
		//监听验证成功
		api.addEventListener({
		    name: 'refresh_certification_event'
		}, function(ret, err) {
			if(ret){
				if(ret.value.isRefreshData){
					//登录成功
					infoVm.refreshUserInfo();
				}
			}
		});
		
		//监听退出当前登录
		api.addEventListener({
		    name: 'back_curlogin_send_event'
		}, function(ret, err) {
			if(ret){
				if(ret.value.backSuccess){
					//退出登录成功
					infoVm.refreshUserInfo();
				}
			}
		});
		
		//更新头像成功
		api.addEventListener({
		    name: 'personalInfo_send_event'
		}, function(ret, err) {
			if(ret){
				if(ret.value.personalInfoSuccess){
					infoVm.refreshUserInfo();
				}
			}
		});
		
		//缴纳保证金成功
		api.addEventListener({
		    name: 'payMargin_send_event'
		}, function(ret, err) {
			if(ret){
				if(ret.value.isSuccess){
					infoVm.refreshUserInfo();
				}
			}
		});
		
		//检测没有定位权限，强制下线
		api.addEventListener({
		    name: 'forcedOffline_send_event'
		}, function(ret, err) {
			if(ret){
				if(ret.value.offlineSuccess){
					infoVm.refreshOnLine();
				}
			}
		});
		
		
		//监听极光推动有消息过来
		api.addEventListener({
		    name: 'ajpush_push_event'
		}, function(ret, err) {
			if(ret){
				if(ret.value.isRefresh){
					infoVm.refreshUserInfo();
				}
			}
		});
		

	};
</script>
</html>