<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>支付弹框选择列表</title>
    <!--<link rel="stylesheet" type="text/css" href="../../css/api.css"/>-->
    <link rel="stylesheet" type="text/css" href="../../css/aui/aui.css" />
	<link rel="stylesheet" type="text/css" href="../../css/main.css" />
    <style>
    	html,body{height: 100%;background:rgba(0,0,0,0);}
    	.pay-bg{height: 50vh;}
    	.pay-dialog{height: 50vh;background-color: #FFFFFF;padding: 8px 10px}
    	.pay-dialog .title-area{text-align: center;padding: 8px 30px;border-bottom: 1px solid #DDDDDD}
    	.pay-dialog .title-area i{position: absolute;right: 10px}
    	.pay-dialog .pay-type-item{height: 2.6rem;line-height: 2.6rem;border-bottom: 1px solid #DDDDDD}
    	.pay-dialog .pay-type-item .pay-logo{width: 3rem;padding-top: 0.3rem;}
    	.pay-dialog .pay-type-item .pay-logo img{width: 2rem;margin: auto}
    	.pay-dialog .pay-type-item .pay-title{width: calc(100% - 3rem - 1.5rem)}
    	.pay-dialog .pay-type-item .pay-title .balance{margin-left: 8px;color:#D61414}
    	.pay-dialog .pay-type-item .pay-title.lack-balance{color: #CECECE;}
    	.pay-dialog .pay-type-item .pay-title.lack-balance .balance{color: #CECECE;}
    	.pay-dialog .pay-type-item .pay-choost{width:1.5rem;padding-top: 0.7rem}
    	.pay-dialog .pay-type-item .pay-choost img{width:1.2rem}
    	
    	.pay-dialog .confirm-pay{height: 40px;line-height: 40px;text-align: center;position: fixed;width:calc(100% - 20px);bottom: 10px;color:#FFFFFF;}
    	
    </style>
</head>
<body>
	<div id="pay_dialog_id">
		<template>
		<div class="pay-bg" tapmode="hover" @click="closeDialog(false)"></div>
		<div class="pay-dialog">
			<div class="title-area">选择支付方式<i class="aui-iconfont aui-icon-close" tapmode="hover" @click="closeDialog(false)"></i></div>
			<div class="pay-type-item horizontal" v-for="payItem in payList" tapmode="hover" @click="choosePayType(payItem.id)">
				<div class="pay-logo"><img :src="payItem.logo" /></div>
				<!--<div class="pay-title"><span>{{payItem.title}}</span></div>-->
				<div class="pay-title" :class="enoughBalance[payItem.id] ? '':'lack-balance'"><span>{{payItem.title}}</span><span v-if="payItem.id=='balancePay'" class="balance">¥{{balanceObj[payItem.id]}}</span><span v-if="payItem.id=='balancePay' && !enoughBalance[payItem.id]">(余额不足)</span></div>
				<div class="pay-choost" v-if="payItem.id==curPayTypeId"><img src="../../image/icon/radio_sel.png" /></div>
			</div>
			<div class="confirm-pay this-bg-theme" tapmode="hover" @click="confirmPayType()">立即支付</div>
		</div>
		</template>
	</div>
</body>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/jquery/jquery213min.js"></script>
<script type="text/javascript" src="../../script/jquery/jquerymobilecustommin.js"></script>
<script type="text/javascript" src="../../script/aui/aui_dialog.js"></script>
<script type="text/javascript" src="../../script/custom/tools.js"></script>
<script type="text/javascript" src="../../script/vue/vue.js"></script>
<script type="text/javascript" src="../../script/packajax.js"></script>
<script type="text/javascript">
	var payVm;
	var payType=0;//支付类型：0缴纳保证金
	var orderId='';//订单id
	var payMoney=0;//要支付的金额
	var payDescribe='';//支付描述
	var winName,frmName,payCallback;
	apiready = function(){
		var pageParam = api.pageParam;//页面提交过来的参数
		payType = pageParam.payType;
		orderId = pageParam.orderId;
		payMoney = pageParam.payMoney;
		payDescribe = pageParam.payMoney==undefined ? '':pageParam.payMoney;
		if(payDescribe.length>128){
			payDescribe=payDescribe.substring(0,128);
		}
		winName = pageParam.winName;
		frmName = pageParam.frmName;
		payCallback = pageParam.payCallback;
		
		var userId = $api.getStorage("userid");//用户id
		
		var closeBalanceDialog=function(isSuc){
			api.execScript({
				name : winName,
				frameName : frmName,
				script : 'payCallback('+isSuc+')'
			});
			api.closeFrame();
		}
		
		//获取账户余额
		var getAccountBalance=function(){
			var openId=$api.getStorage("openId");//openId
			var pwd=$api.getStorage("pwd");//登录密码
			if(pwd==undefined || pwd==null || pwd==''){
				pwd='123456';
			}
			var param;
			if(openId!=undefined && openId!='undefined' && openId!=null && openId!=''){
				param = 'clientId=' + userId + '&openId=' + openId +'&from=2';
			}else{
				param = 'clientId=' + userId + '&password='+pwd+'&from=2';
			}
			api.showProgress();
			_getHttpsData('/member/getBalance',param,
				function(ret){
					api.hideProgress();
					if(ret.status){
						var financeDues = ret.data==undefined || ret.data.financeDues==undefined ? 0:ret.data.financeDues;
						payVm.initData(payMoney,financeDues);
					}else{
						payVm.initData(payMoney,0);
						api.toast({ msg: ret.msg+'('+ret.code+')',duration: 2000, location: 'middle'});
					}
				},
				function(err){
					api.hideProgress();
					payVm.initData(payMoney,0);
				}
			);
			
			
		};
		
		//微信支付
		var wxPay = function(data){
			var packageStr = data.package;
			var appId = data.appid;//微信开放平台审核通过的应用appid
			var sign = data.sign;//签名
			var partnerid = data.partnerid;//商户号
			var prepayid = data.prepayid;//预支付交易会话id
			var noncestr = data.noncestr;//随机字符串
			var timestamp = data.timestamp;//时间错
			var wxPay = api.require('wxPay');
			wxPay.payOrder({
			    apiKey: appId,//（可选项）从微信开放平台获取的 appid，若不传则从当前 widget 的 config.xml 中读取。
			    orderId: prepayid,//统一下单接口返回的 prepay_id 参数值
			    mchId: partnerid,//商家和微信合作的 id 号，审核通过后微信服务器会发送到商家邮箱
			    nonceStr: noncestr,//随机字符串，防重发
			    timeStamp: timestamp,//时间戳，防重发
			    package: packageStr,//（可选项）扩展字段，暂填写固定值Sign=WXPay(默认:Sign=WXPay)
			    sign: sign//商家根据微信开放平台文档对数据做的签名
			}, function(ret, err) {
			    if (ret.status) {
			        //支付成功
			         showSingleAuiDialog('提示','支付成功','确定',function(ret){
			         	closeBalanceDialog(true);
			         });
			    } else {
			    	//err.code
			    	//-2（用户取消，发生场景：用户不支付了，点击取消，返回APP）
	                //-1（未知错误，可能的原因：签名错误、未注册APPID、项目设置APPID不正确、注册的APPID与设置的不匹配、其他异常等）
	                //1 (apiKey值非法)
	                var msg='';
	                if(err.code==-2){
	                	msg='用户取消支付';
	                }
	                else if(err.code==-1){
	                	msg='未知错误';
	                }
	                else if(err.code==1){
	                	msg='apiKey值非法';
	                } else{
	                	msg='支付失败'
	                }
			        showSingleAuiDialog('提示('+err.code+')',msg);
			    }
			});
		}
		
		/**
		 *创建微信统一支付 
		 */
		var createWorkerOrderWxPay=function(payOrderId,payOrderNo){
			//微信统一支付
			var param = "ORDER_ID=" + payOrderId + "&ORDER_NO=" + payOrderNo + "&BODY=" + payDescribe;
			
			api.showProgress();
			_httpsPlatformClass('appXiPay',param,
				function(ret){
					api.hideProgress();
					var resultMsg =  checkIsJsonObj(ret.msg);
					if(resultMsg.code == 0 || resultMsg.code == '0') {
						var infoData = resultMsg.info;
						wxPay(infoData);
						
					} else{
						showSingleAuiDialog('提示('+resultMsg.code+')',resultMsg.msg);
					}
				},
				function(err){
					api.hideProgress();
				}
			);
		};
		
		/**
		 *创建支付单
		 *  action 0微信支付，1余额支付
		 */
		var createPayOrder = function(action){
			var param={};
			param.workerId=userId;
			param.amount=payMoney;
			param.type=7;
			_postHttpsData('/order/refillMargin',param,
				function(ret){
					api.hideProgress();
					if(ret.status){
						if(action==0){
							//微信支付，唤起支付页面
							var payOrderId = ret.data.orderId;
							var payOrderNo = ret.data.orderNo;
							createWorkerOrderWxPay(payOrderId,payOrderNo);
						}
						else if(action==1){
							//余额支付，唤起支付页面
							pageParam.payOrderId=ret.data.orderId
							api.openFrame({
						        name: 'balancepaydialog_frm',
						        url: 'widget://html/tools/balancepaydialog_frm.html',
						        bounces: false,
							    scrollToTop:false,
						        bgColor:'rgba(0,0,0,0.5)',
						        animation:{
						        	type:'movein',
						        	subType:'from_top',
						        	duration:300
						        },
						        pageParam:pageParam
						    });
					    	api.closeFrame();
						}
					}else{
						showSingleAuiDialog('请求失败('+ret.code+')',ret.msg);
					}
				},
				function(err){
					api.hideProgress();
				}
			);
		}
		
		/**
		 *创建支付单
		 *  action 0微信支付，1余额支付
		 */
//		var createWorkerOrderBalance = function(action){
//			var param={};
//			param.demandId=orderId;
//			param.amount=payMoney;
//			param.clientId=userId;
//			param.type=7;
//			_postHttpsData('/order/createWorkerOrder',param,
//				function(ret){
//					api.hideProgress();
//					if(ret.status){
//						if(action==0){
//							//微信支付，唤起支付页面
//							var payOrderId = ret.data.orderId;
//							var payOrderNo = ret.data.orderNo;
//							createWorkerOrderWxPay(payOrderId,payOrderNo);
//						}
//						else if(action==1){
//							//余额支付，唤起支付页面
//							pageParam.payOrderId=ret.data.orderId
//							api.openFrame({
//						        name: 'balancepaydialog_frm',
//						        url: 'widget://html/tools/balancepaydialog_frm.html',
//						        bounces: false,
//							    scrollToTop:false,
//						        bgColor:'rgba(0,0,0,0.5)',
//						        animation:{
//						        	type:'movein',
//						        	subType:'from_top',
//						        	duration:300
//						        },
//						        pageParam:pageParam
//						    });
//					    	api.closeFrame();
//						}
//					}else{
//						showSingleAuiDialog('请求失败('+ret.code+')',ret.msg);
//					}
//				},
//				function(err){
//					api.hideProgress();
//				}
//			);
//			
//		};
		
		
		payVm = new Vue({
			el:'#pay_dialog_id',
			data:{
				payList:[{id:'wxPay',title:'微信支付',logo:'../../image/icon/pay/wx_logo.png'},
						 {id:'balancePay',title:'余额支付',logo:'../../image/icon/pay/balance_logo.png'}],
				balanceObj:{wxPay:0,balancePay:0},//余额
				enoughBalance:{wxPay:true,balancePay:true},//是否足余额
				curPayTypeId:''
			},
			methods:{
				initData:function(payMoney,balance){
					//初始化数据
					var balancePay = Number(payMoney)>Number(balance) ? false:true;
					this.balanceObj.balancePay=balance;
					this.enoughBalance.balancePay=balancePay;
				},
				closeDialog:function(isPaySuc){
					//关闭弹框
					closeBalanceDialog(isPaySuc);
				},
				choosePayType:function(id){
					//选择支付类型
					if(this.enoughBalance[id]){
						this.curPayTypeId=id;
					}
				},
				confirmPayType:function(){
					//确定选择支付类型
					var curPayTypeId=this.curPayTypeId;
					if(curPayTypeId=='wxPay'){
						//微信支付
						createPayOrder(0);
					}
					else if(curPayTypeId=='balancePay'){
						//余额支付
						createPayOrder(1);
					}
					else{
						api.toast({ msg: '请选择支付方式',duration: 2000, location: 'middle'});
					}
					
				}
			}
			
		});
		
		getAccountBalance();
		
		api.addEventListener({
			name : 'viewdisappear'
		}, function(ret, err) {
			//关闭当前frame，使用默认动画
			api.closeFrame();
		});
		
	};
</script>
</html>